div#memory_board{
	/* background:#CCC; */
	/* border:#999 1px solid; */
	width:800px;
	height:540px;
	padding:24px;
	margin:0px auto;
}
div#memory_board > div{
    background: url("assets/codesmith.png") no-repeat;
    background-size: 100%;
    border:#44A2E4 1px solid;
    overflow: hidden;
	width:71px;
	height:71px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:64px;
	cursor:pointer;
    text-align:center;
    border-radius: 6px;
    box-shadow: 0px 0px 16px rgba(0, 0, 100, 0.25);
}

/* 

#app-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

#q-card {
    background-color: white;
    border-radius: 3px;
    width: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 16px rgba(0, 0, 100, 0.25);
}

#q-header {
    padding: 15px;
    background: linear-gradient(to bottom right, rgb(39, 140, 255), #04519F);
    text-align: center;
    font-size: 2em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* #q-answer-container {

} */

/* #q-answer {
    padding: 20px;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */ 
